version: "3"
services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: sample
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    ports:
      - "3306:3306"
  application:
    build:
      context: .
      dockerfile: Dockerfile
    command: ./wait.sh npx ts-node-dev --poll src/app.ts
    volumes:
      - ./src:/home/circleci/application/src
      - ./__tests__:/home/circleci/application/__tests__
    ports:
      - "9700:9700"
