doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title ログイン
  body
    if(message)
      span #{message}
      br

    span ログイン
    form(method="post" action="/login")
      input(type="text" name="username" value="")
      br
      input(type="password" name="password" value="")
      br
      button(type="submit") submit
