doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title ログイン
  body
    span ログイン
    form(method="post" action="/login")
      input(type="text" name="username" value="")
      br
      input(type="text" name="password" value="")
      br
      button(type="submit") submit
